<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="text_container" class="text_container">
            </div>
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
</body>

</html>