<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 id="title" class="title">{{title}}</h2>
        </section>
        <section class="image_container">
            <img class="center_image_exhib" src="img/blank.svg" alt="center_image">
        </section>
        <section class="right_space"></section>
    </main>
    <script src="js/artists.js"></script>
    {{>footer}}
</body>

</html>