<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 id="title" class="title">{{title}}</h2>
            {{!-- <div id="flaviucacoveanu" class="text_container">
                <h3 class="first_name">Flaviu</h3>
                <h3 class="last_name">Cacoveanu</h3>
                <h4 class="exhibition_date">15 Aug 2023 — 18 Oct 2023</h4>
                <h4 class="description">Lorem ipsum dolor sit amet</h4>
            </div> --}}
        </section>
        <section class="image_container"><img class="center_image" src="img/center_image.png" alt="center_image">
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
    <script src="js/artists.js"></script>
</body>

</html>