<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 id="title" class="title title_menu">&#9776;</h2>
        </section>
        <section class="image_container one_exhib">
            <div class="img_wrapper">
                <img class="center_image_exhib" src="img/center_image.png" alt="center_image">
            </div>
        </section>
        <section class="right_space"></section>
    </main>
    <script src="js/artists.js"></script>
    {{>footer}}
</body>

</html>