<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="flaviucacoveanu" class="text_container">
                <h3 class="first_name">Flaviu</h3>
                <h3 class="last_name">Cacoveanu</h3>
                <h4 class="exhibition_date">15 Aug 2023 — 18 Oct 2023</h4>
                <h4 class="description">Lorem ipsum dolor sit amet</h4>
            </div>
            <div class="image_container_mob">
                <img class="center_image_mob" src="img/main.png" alt="center_image">
            </div>
            <div id="markverlan" class="text_container">
                <h3 class="first_name">Mark</h3>
                <h3 class="last_name">Verlan</h3>
                <h4 class="exhibition_date">15 Jun 2023 — 15 Jul 2023</h4>
                <h4 class="description">Lorem ipsum dolor sit amet</h4>
            </div>
            <div class="image_container_mob">
                <img class="center_image_mob" src="img/markverlan.png" alt="center_image">
            </div>
            <div id="samsonflexor" class="text_container">
                <h3 class="first_name">Samson</h3>
                <h3 class="last_name">Flexor</h3>
                <h4 class="exhibition_date">10 Apr 2023 — 25 May 2023</h4>
                <h4 class="description">Lorem ipsum dolor sit amet</h4>
            </div>
            <div class="image_container_mob">
                <img class="center_image_mob" src="img/samsonflexor.png" alt="center_image">
            </div>
            <div id="lucianspataru" class="text_container">
                <h3 class="first_name">Lucian</h3>
                <h3 class="last_name">Spataru</h3>
                <h4 class="exhibition_date">14 Nov 2022 — 20 Dec 2022</h4>
                <h4 class="description">Lorem ipsum dolor sit amet</h4>
            </div>
            <div class="image_container_mob">
                <img class="center_image_mob" src="img/lucianspataru.png" alt="center_image">
            </div>
            <div id="alexepupazan" class="text_container">
                <h3 class="first_name">Alexe</h3>
                <h3 class="last_name">Pupazan</h3>
                <h4 class="exhibition_date">1 Jan 2023 — 15 May 2023</h4>
                <h4 class="description">Lorem ipsum dolor sit amet</h4>
            </div>
            <div class="image_container_mob">
                <img class="center_image_mob" src="img/alexepupazan.png" alt="center_image">
            </div>
            <div id="andreisclifos" class="text_container">
                <h3 class="first_name">Andrei</h3>
                <h3 class="last_name">Sclifos</h3>
                <h4 class="exhibition_date">10 Apr 2023 — 25 May 2023</h4>
                <h4 class="description">Lorem ipsum dolor sit amet</h4>
            </div>
            <div class="image_container_mob">
                <img class="center_image_mob" src="img/andreisclifos.png" alt="center_image">
            </div>
        </section>
        <section class="image_container"><img class="center_image_exhib" src="img/main.png" alt="center_image">
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
    <script src="js/exhib.js"></script>
</body>

</html>