<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <div id="text_container" class="text_container">
                <h2 class="title">{{title}}</h2>
                <h3 class="first_name">SAMSON</h3>
                <h3 class="last_name indent">FLEXOR</h3>
                <h4 class="description more_indent">Lorem ipsum dolor sit amet</h4>
                <h4 class="exhibition_date more_indent"><span class="date">18-12-2022 - </span><span
                        class="date">19-01-2023</span></h4>
            </div>
        </section>
        <section class="image_container"><img class="center_image" src="img/center_image.png" alt="center_image">
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
</body>

</html>