<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="text_container" class="text_container"
                onclick=location.assign('/exhibitions/6503a9a77077d9982bc29116')>
                <h3 class="first_name">Flaviu</h3>
                <h3 class="last_name indent">Cacoveanu</h3>
                <h4 class="exhibition_date">18 Aug. 2023 — 15 Oct. 2023</h4>
            </div>
        </section>
        <section class="image_container"><img class="center_image_index" src="img/main.webp" alt="center_image"
                onclick=location.assign('/exhibitions/6503a9a77077d9982bc29116')>
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
</body>

</html>