<!DOCTYPE html>
<html lang="en" class="full_height">

{{>head}}

<body class="full_body">
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="text_container" class="text_container_nohover">
                <div class="info_wrapper">
                    <p>Galeria Lutnița</p>
                    <p>Str. Alexei Șciusev nr. 63</p>
                    <p>MD-2012, Chișinău</p>
                    <p>Republic of Moldova</p>
                    <p><a href="https://maps.app.goo.gl/KokYkeqvUajQLGvx7" target="_blank"
                            rel="noopener noreferrer">Google Map</a></p>
                    <br>
                    <p><a href="mailto:galerialutnita@gmail.com">galerialutnita@gmail.com</a></p>
                    <p><a href="https://www.instagram.com/galerialutnita/" target="_blank">@galerialutnita</a></p>
                    <br>
                    <p>W — F:&nbsp;&nbsp;&nbsp;2PM - 8PM</p>
                    <p>S — U:&nbsp;&nbsp;noon - 6PM</p>
                </div>
            </div>
        </section>
        <section class="image_container one_exhib">
            <img id="main_image" class="center_image_exhib center_image_one_exhib fade" src="img/info.webp"
                alt="center_image">
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
</body>

</html>