<!DOCTYPE html>
<html lang="en">

<head>
    <title>L U T N I Ț A | News</title>
    <meta name="description" content="LUTNIȚA Gallery | News">
    {{>head}}
</head>

<body>
    {{>header}}
    <main class="main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="text_container" class="text_container">
            </div>
        </section>
        <section class="image_container">
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
</body>

</html>