<!DOCTYPE html>
<html lang="en" class="full_height">

<head>
    <title>L U T N I Ț A | Home</title>
    <meta name="description" content="LUTNIȚA Gallery | Home">
    {{>head}}
</head>

<body class="full_body">
    {{>header}}
    <main class="main full_main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="winter" class="text_container" onclick=location.assign('/exhibitions')>
                <div class="names_wrapper">
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/alexbodea_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/serbansavu_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/markverlan_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/dmitrisibaev_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/sorincampan_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/mirceabut_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/victorgutu_wr.svg">
                    </div>
                    <div id="empty_w" class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/empty_w.png">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/dianacepleanu_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/licasainciuc_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/victorciobanu_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/gheorgheilea_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/andreicampan_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/victoriasadovnic_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/dumitrufanfarov_wr.svg">
                    </div>
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/namepaths/valentinarusuciobanu_wr.svg">
                    </div>
                </div>
                <h4 class="exhibition_date">13 Dec 2024 — 26 Jan 2025</h4>
            </div>
        </section>
        <section class="image_container"><img class="center_image_index"
                src="https://d23fd8t3cgh0wq.cloudfront.net/img/exhibitions/winter_2.webp"
                alt="Alex Bodea, Șerban Savu, Mark Verlan, Dmitri Șibaev, Sorin Câmpan, Mircea But, Victor Guțu, Diana Cepleanu, Lică Sainciuc, Victor Ciobanu, Gheorghe Ilea, Andrei Câmpan, Victoria Sadovnic, Dumitru Fanfarov, Valentina Rusu Ciobanu"
                onclick=location.assign('/exhibitions')>
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
    <script src="js/menu_index.js"></script>
</body>

</html>