<!DOCTYPE html>
<html lang="en" class="full_height">

<head>
    <title>L U T N I Ț A | Home</title>
    <meta name="description" content="LUTNIȚA Gallery | Home">
    {{>head}}
</head>

<body class="full_body">
    {{>header}}
    <main class="main full_main">
        <section id="text_section" class="text_section">
            <h2 class="title">{{title}}</h2>
            <div id="text_container" class="text_container upcoming" onclick=location.assign('/exhibitions/saltsalome')>
                <div class="names_wrapper">
                    <div class="names_container">
                        <img class="artist_name"
                            src="https://d3m5h3ndrov00p.cloudfront.net/img/exhibitions/namepaths/salome.svg">
                    </div>
                </div>
                <h4 class="exhibition_date">27 Oct 2023 — 10 Dec 2023</h4>
            </div>
        </section>
        <section class="image_container"><img class="center_image_index"
                src="https://d3m5h3ndrov00p.cloudfront.net/img/exhibitions/saltsalome.webp" alt="center_image"
                onclick=location.assign('/exhibitions/saltsalome')>
        </section>
        <section class="right_space"></section>
    </main>
    {{>footer}}
    <script src="js/menu_index.js"></script>
</body>

</html>