<footer class="footer">
    <section id="navbar" class="navbar_hidden">
        {{!-- <a id="nav-menu" href="/">MENU</a> --}}
        <a id="nav-exhibitions" class="nav-btns" href="/exhibitions">EXHIBITIONS</a>
        <a id="nav-artists" class="nav-btns" href="/artists">ARTISTS</a>
        <a id="nav-news" class="nav-btns" href="/news">NEWS</a>
        <a id="nav-info" class="nav-btns" href="/info">INFO</a>
    </section>
    <div id="logo_container">
        {{!-- <h1 id="logo"><a href="/"><span id="lut">LUT</span><span id="nita">NIȚA</span></a></h1> --}}
        <img id="logo_img" src="img/lutnita_logo_transparent_black.png" alt="">
    </div>
</footer>

<script src="js/menu.js"></script>