<footer class="footer">
    <section id="navbar" class="navbar_hidden">
        <span id="close">&#10005;</span>
        <a id="nav-exhibitions" class="nav-btns" href="/exhibitions">EXHIBITIONS</a>
        <a id="nav-artists" class="nav-btns" href="/artists">ARTISTS</a>
        <a id="nav-news" class="nav-btns" href="/news">NEWS</a>
        <a id="nav-info" class="nav-btns" href="/info">INFO</a>
    </section>
    <div id="logo_container">
        <h1 id="logo" alt="lutnita"><a href="/"><img id="logo_img" src="img/lutnita_logo_transparent_black.png"
                    alt="lutnita"></a></h1>
    </div>
</footer>

<script src="js/menu.js"></script>