@media (hover:none) {
    .navbar_hidden {
        opacity: 100;
        margin-inline-start: 4em;
    }

    .nav-btns {
        visibility: visible;
    }

    .nav-btns_hidden {
        visibility: visible;
    }
}