@media screen and (min-width: 769px) {}

/* --------- GENERAL --------- */

body {
    cursor: url('cursors/cursor_full.svg'), auto;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    overflow: auto;
    overflow-x: hidden !important;
}

.full_body {
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding-bottom: 16vh;
}

main>section {
    display: flex;
    /* width: 33.3vw; */
    height: 100%;
}

header {
    width: 100%;
    min-height: 12vh;
}

footer {
    display: flex;
    width: 100%;
    height: 17vh;
    position: fixed;
    top: 85%;
    background-color: #ffffff;
}

/* --------- TEXT --------- */

.title_menu {
    visibility: hidden;
}

.text_section {
    flex-direction: column;
    width: 20vw;
    z-index: 0;
}

h2 {
    font-family: 'Barlow', sans-serif;
    color: #777777;
    line-height: 1em;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2em;
    text-align: left;
    margin-inline-start: 4.5vw;
}

h3 {
    line-height: 1em;
    font-size: 1.5em;
    /* font-weight: 600; */
}

h4:first-of-type {
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

h4 {
    font-size: 1.05em;
    font-weight: 400;
    color: #666;
}

.text_container>h5 {
    margin-top: 0.2em;
    font-size: .8em;
    font-weight: 400;
    margin-inline-start: 1.2em;
}

.text_container,
.text_container_nohover {
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 13rem;
    margin-bottom: 2em;
    margin-inline-start: 5em;
    padding-bottom: 1em;
    padding-top: 2em;
}

.text_container {
    transition: border 0.3s ease-out;
}

.text_container:hover {
    border: 1px solid #666;
    border-left: none;
    border-right: none;
    /* margin-bottom: calc(2em + -1px);
    margin-top: -1px; */
    cursor: url('cursors/cursor_empty.svg'), pointer;
}

.names_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* .names_container {
    padding-bottom: 1em;
} */

.artist_name {
    height: 2.8em;
    margin-top: -1em;
}

.first_name {
    font-weight: 500;
    letter-spacing: -0.6px;
    font-size: 1.4em;
    transform: scaleY(0.97);
    position: relative;
    bottom: 2px;
}

.last_name {
    font-family: 'times', 'Times', 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: 500;
}

.exhibition_date {
    transform: scaleY(1.05);
}

h6 {
    color: #666;
    text-decoration: underline;
    font-size: .8em;
}

.pdf_mob {
    display: none;
}

.pdf {
    text-align: right;
    margin: 0.5em 0;
}

.videoBtn {
    cursor: url('cursors/cursor_empty.svg'), pointer;
    text-align: right;
}

.videowrapper {
    opacity: 0;
    width: 43vw;
    margin-top: 8vh;
    transition: opacity .5s;
}

.artist_video {
    margin-top: unset;
}

video {
    max-width: 100%;
    cursor: url('cursors/cursor_empty.svg'), pointer;
}

.video_visible {
    opacity: 1;
}

.bio_hidden {
    position: absolute;
    top: 0;
    bottom: 5px;
    background: rgba(26, 26, 26, 0.8);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.bio {
    visibility: visible;
    opacity: 1;
}

.info_wrapper {
    font-size: 1.05em;
    font-weight: 400;
    color: #666;
    /* transform: scaleY(1.05); */
}

.info_wrapper a {
    text-decoration: underline;
}


/* --------- CENTER --------- */

.exhnamehidden {
    display: none;
}

.load_image {
    visibility: visible;
    position: absolute;
    opacity: 1;
    z-index: 0;
    transition: opacity .3s;
}

.load_image_hidden {
    opacity: 0;
}

.image_container_mob,
.center_image_mob,
.image_container_mob_one {
    display: none;
}

.image_container {
    justify-content: center;
    width: 60vw;
    position: sticky;
    top: 12vh;
}

.one_exhib {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 67vw;
}

.center_image_index,
.center_image_exhib {
    max-width: 80%;
    max-height: 72vh;
    object-fit: contain;
    cursor: url('cursors/cursor_empty.svg'), pointer;
    z-index: 1;
}

.center_image_one_exhib {
    max-width: 80%;
    max-height: 59vh;
    cursor: url('cursors/cursor_empty.svg'), pointer;
    opacity: 0.3;
    transition: unset;
}

.fade {
    opacity: 1;
    transition: opacity .9s cubic-bezier(0.21, 0.51, 0.58, 1);
}

.captions {
    font-size: 9.5rem;
    letter-spacing: 1rem;
    color: #666;
    padding: 12rem 0;
    text-align: center;
    opacity: 0;
}

.fade_captions {
    opacity: 1;
    font-size: 10rem;
    transition: all .4s cubic-bezier(0.56, 0.02, 1, 1);
}

.img_counter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-inline-start: 4em;
}

#counter_text {
    padding-right: 25rem;
}

.counters {
    font-size: 12rem;
    letter-spacing: 1rem;
    color: #666;
}

/* --------- RIGHT ---------- */

.right_space {
    width: 20vw;
    justify-content: flex-end;
    /* align-items: center; */
}

.gallery {
    width: 13vw;
}

.close_video {
    font-size: 12rem;
    color: #666;
    margin-inline-end: 4.5vw;
}

/* --------- FOOTER --------- */

#logo_img {
    height: 2.3em;
}

/* --------- NAVBAR --------- */

.navbar_hidden {
    opacity: 0;
    /* 0 */
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-inline-start: 3.5vw;
    /* 2em */
    transition: all 1s cubic-bezier(0.94, 0.53, 1, 0.99);
    z-index: 0;
}

.navbar {
    opacity: 100;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-inline-start: 4.5vw;
    transition: all 1s cubic-bezier(0.63, 0.85, 1, 0.99);
    z-index: 1;
}

.nav-btns {
    font-family: 'Barlow', sans-serif;
    /*none*/
    visibility: visible;
    display: block;
    font-weight: 600;
    /*400*/
    font-size: 1.15em;
    /*1.1*/
    /* letter-spacing: 3rem; */
    align-self: center;
    text-align: center;
    cursor: url('cursors/cursor_empty.svg'), pointer;
    color: #777777;
    /*2a2a2a*/
}

.nav-btns_hidden {
    visibility: hidden;
    /* hidden */
}

#close {
    display: none;
}

#logo_container {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 60%;
    margin-inline-end: 4.5vw;
}

/* White cursor on video */

.dark_mode body,
.dark_mode a,
.dark_mode h6 {
    cursor: url('cursors/cursor_white.svg'), default !important;
}