@media screen and (min-width: 769px) {}

/* --------- GENERAL --------- */

body {
    cursor: url('cursors/cursor_empty.svg'), auto;
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    overflow: auto;
    overflow-x: hidden !important;
}

main {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding-bottom: 16vh;
}

main>section {
    display: flex;
    /* width: 33.3vw; */
    height: 100%;
}

header {
    width: 100%;
    min-height: 12vh;
}

footer {
    display: flex;
    width: 100%;
    height: 17vh;
    position: fixed;
    top: 85%;
    background-color: #ffffff;
}

/* --------- TEXT --------- */

.text_section {
    flex-direction: column;
    width: 20vw;
    z-index: 0;
}

h2 {
    font-family: 'Barlow', sans-serif;
    color: #777777;
    line-height: 1em;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2em;
    text-align: left;
    margin-inline-start: 4.5vw;
}

h3 {
    line-height: 1em;
    font-size: 1.5em;
    /* font-weight: 600; */
}

h4:first-of-type {
    margin-top: 0.6em;
    margin-bottom: 0.2em;
}

h4 {
    font-size: 1.05em;
    font-weight: 400;
    color: #666;
}

.text_container>h5 {
    margin-top: 0.2em;
    font-size: .8em;
    font-weight: 400;
    margin-inline-start: 1.2em;
}

.text_container,
.text_container_nohover {
    border: 1px solid #ffffff;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 13rem;
    margin-bottom: 2em;
    margin-inline-start: 5em;
    padding: 1em 0;
}

.text_container {
    transition: border 0.3s ease-out;
}

.text_container:hover {
    border: 1px solid #666;
    border-left: none;
    border-right: none;
    /* margin-bottom: calc(2em + -1px);
    margin-top: -1px; */
    cursor: url('cursors/cursor_full.svg'), pointer;
}

.first_name {
    font-weight: 500;
    letter-spacing: -0.6px;
    font-size: 1.6em;
    transform: scaleY(0.97);
    position: relative;
    bottom: 2px;
}

.last_name {
    font-family: 'times', 'Times', 'Times New Roman', serif;
    transform: scaleY(1.15);
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-right: -2px;
}

#name {
    background: url('../img/flaviu.png') no-repeat;
    background-size: contain;
    /* scales the image */
    background-position: right;
    /* centers the image */
    max-height: 2.6em;
    object-fit: contain;
    align-self: flex-end;
}

.exhibition_date {
    transform: scaleY(1.05);
}


/* --------- CENTER --------- */

.image_container_mob,
.center_image_mob,
.image_container_mob_one {
    display: none;
}

.image_container {
    justify-content: center;
    width: 60vw;
    position: sticky;
    top: 12vh;
}

.one_exhib {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_image_index,
.center_image_exhib {
    /* max-width: 40%; */
    max-height: 72vh;
    object-fit: contain;
    cursor: url('cursors/cursor_full.svg'), pointer;
}

.center_image_one_exhib {
    width: 43vw;
    max-height: 64vh;
    cursor: url('cursors/cursor_full.svg'), pointer;
    opacity: 0.3;
    transition: unset;
}

.fade {
    opacity: 1;
    transition: opacity .9s cubic-bezier(0.21, 0.51, 0.58, 1);
}

.captions {
    font-size: 9.5rem;
    letter-spacing: 1rem;
    color: #666;
    padding: 12rem 0;
    text-align: center;
    opacity: 0;
}

.fade_captions {
    opacity: 1;
    font-size: 10rem;
    transition: all .4s cubic-bezier(0.56, 0.02, 1, 1);
}

.img_counter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-inline-start: 5em;
}

#counter_text {
    padding-right: 25rem;
}

.counters {
    font-size: 12rem;
    letter-spacing: 1rem;
    color: #666;
}

/* --------- RIGHT ---------- */

.right_space {
    width: 20vw;
    justify-content: center;
    align-items: center;
}

/* --------- FOOTER --------- */

#logo_img {
    height: 2.3em;
}

/* --------- NAVBAR --------- */

.navbar_hidden {
    opacity: 0;
    /* 0 */
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-inline-start: 3.5vw;
    /* 2em */
    transition: all 1s cubic-bezier(0.94, 0.53, 1, 0.99);
    z-index: 0;
}

.navbar {
    opacity: 100;
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-inline-start: 4.5vw;
    transition: all 1s cubic-bezier(0.63, 0.85, 1, 0.99);
    z-index: 1;
}

.nav-btns {
    font-family: 'Barlow', sans-serif;
    /*none*/
    visibility: visible;
    display: block;
    font-weight: 600;
    /*400*/
    font-size: 1.15em;
    /*1.1*/
    /* letter-spacing: 3rem; */
    align-self: center;
    text-align: center;
    cursor: url('cursors/cursor_full.svg'), pointer;
    color: #777777;
    /*2a2a2a*/
}

.nav-btns_hidden {
    visibility: hidden;
    /* hidden */
}

#close {
    display: none;
}

#logo_container {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 50vw;
    margin-inline-end: 4.5vw;
}